.footer-container{
    height: 400px;
    background-color: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    font-size: larger;
}
.footer-container h1{
 background-color: black;
 padding-left: 8%;
 font-size: 20rem;
}